*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {background-color: rgb(21, 117, 208);
color: aliceblue;
height: 75px;
padding-left:20px;
padding-top: 20px}

.center{
    background-color: rgb(193, 245, 245);
    padding: 25px;
}
 .center .center_top{
background-color: rgb(42, 204, 24);
height: 170px;
width: 500px;
box-sizing: border-box;
border: 3px solid rgb(29, 151, 29);
padding: 30px;
margin: auto;
}
.center .center_bottom{
    background-color: red;
    border: 3px solid rgb(103, 12, 12);
    border-radius: 10px ;
    width: 200px;
    height: 100px;
    padding: 10px;
    margin: auto;
    text-align: center;
    color: aliceblue;

}

.center_bottom:hover{
    background-color: blue;
    transition: 1s;

}
.footer{
    color: aliceblue;
  background-color: rgb(26, 19, 73);
  padding: 50px;
}